$break-xs: 768px;
$break-sm: 992px;
.navbar-brand {
  background-image: none;
  img {
    float: left;
    margin-right: 15px;
  }
    
  span {
    float: left;
    color: #FFFFFF;
    &.main {
      letter-spacing: 4px;
      margin-top: 11px;
    }
    &.second {
      font-size: 10px
    }
  }
}

.lightHeader .navbar-brand {
  background-image: none;
  span {
    color: #000000;
  }
}

footer {
  .copyRight {
    background-color: #51488A;
    p {
      color: #FFFFFF;
      font-size: 12px;
      line-height: 1.4em;
      a {
        color: inherit;
      }
    }
  }
}

.center {
  text-align: center !important;
}

.justify {
  text-align: justify !important;
}
.no-xs {
  @media screen and (max-width: $break-xs) {
    display: none;
  }
}
.only-xs {
  display: none;
  @media screen and (max-width: $break-xs) {
    display: block;
  }
}

.hotel-detail-page {
  background-image: url('../images/hotels/detail/hotel-detail.jpg');
}
.about-page {
  background-image: url('../images/office-365.jpg');
}
.search-page {
  background-image: url('../images/search.jpg');
}
.profile-page {
  background-image: url('../images/profile.jpg');
}
.about-img {
  width: 100%;
  @media screen and (max-width: $break-xs) {
    width: auto;
    height: 200px;
  }
}
.about-quote {
  font-size: 22px;
  font-style: italic;
}

.contact-page {
  background-image: url('../images/contact.jpg');
}
.settings-page {
  background-image: url('../images/settings.jpg');
}
.not-resize{
  resize: none;
}

h3.section-header {
  font-weight: 500;
}

.home-cover {
  position: relative;
  .desk-search-bar {
    position: absolute;
    z-index: 99;
    width: auto;
    bottom: 15px;
    margin-left: 50%;
    transform: translateX(-50%);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: 1px solid #cccccc;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(255,255,255,1);
    box-shadow: 0px 0px 5px 0px rgba(255,255,255,1);
    padding-top: 20px;
    padding-bottom: 20px;
    label {
      margin-bottom: 0px;
    }
    .date-desk-search {
      height: 35px;
    }
    .buttonCustomPrimary {
      height: 35px;
      line-height: 35px;
    }
    .desk-search-legend {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    h2 {
      @media screen and (max-width: $break-sm) {
        font-size: 25px;
      }
    }
  }
}

.home-jumbotron {
  background-color: #eaeaea;
  p {
    font-size: inherit;
    text-align: center;
  }
  h4 {
    font-size: 16px;
    text-transform: none;
    font-weight: 600;
    text-align: center;
  }
  .inf {
    margin-top: 20px;
    div  {
      background-color: #ffffff;
      padding: 15px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
    }
  }
}

.liarla-interested {
  .interested-block {
    @media screen and (max-width: $break-xs) {
      margin-top: 15px;
      margin-bottom: 15px;
    }
    &:hover {
      .wrapper {
        .content {
          transform: scale(1.1);
        }
        .dark-layer {
          opacity: 0.3;
        }
      } 
    }
    a {
      .wrapper {
        height: 350px;
        background-size: cover;
        background-position-x: center;
        position: relative;
        overflow: hidden;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        @media screen and (max-width: $break-xs) {
          height: 200px !important;
        }
        .inf-layer {
          position: absolute;
          left: 0px;
          top: 0px;
          width: 100%;
          height: 100%;
          .draw {
            width: 130px;
            height: 130px;
            text-align: center;
            border: 2px solid #ffffff;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            margin: 0 auto;
            position: relative;
            top: 45%;
            transform: translateY(-50%);
            @media screen and (max-width: $break-xs) {
              width: 100px !important;
              height: 100px !important;
            }
            img {
              width: 70%;
              margin-top: 50%;
              transform: translateY(-50%);
            }
          }
          p {
            color: #ffffff;
          }
        }
        .content {
          width: 100%;
          height: 100%;
          background-size: cover;
          background-position-x: center;
          -webkit-transition: 0.5s;
          transition: 0.5s;
        }
        .beach {
          background-image: url('../images/interested/beach.jpg');
        }
        .friends {
          background-image: url('../images/interested/friends.jpg');
        }
        .tropical {
          background-image: url('../images/interested/tropical.jpg');
        }
        .romantic {
          background-image: url('../images/interested/romantic.jpg');
        }
        .dark-layer {
          position: absolute;
          left: 0px;
          top: 0px;
          width: 100%;
          height: 100%;
          background-color: #000000;
          opacity: 0.5;
          -webkit-transition: 0.3s;
          transition: 0.3s;
        }
      }
    }
  }
}

.bookingDetails {
  h2 {
    font-size: 25px;
  }
  .buttonTransparent {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.dark-place-holder {
  .form-control::-webkit-input-placeholder{
    color: #969696 !important;
  }
  .form-control::-moz-placeholder{
    color: #969696 !important;
  }
  .form-control:-ms-input-placeholder{
    color: #969696 !important;
  }
  .form-control:-moz-placeholder {
    color: #969696 !important;
  }
  .filterDate .form-control::-webkit-input-placeholder{
    color: #969696 !important;
  }
  .filterDate .form-control::-moz-placeholder{
    color: #969696 !important;
  }
  .filterDate .form-control:-ms-input-placeholder{
    color: #969696 !important;
  }
  .filterDate .form-control:-moz-placeholder {
    color: #969696 !important;
  }
}

.presupuesto-bigger {
  font-size: 22px !important;
  font-weight: 600 !important;
}


.profile-thumb-nav {
  .dropdown-toggle {
    position: relative;
    top: -3px;
    &::after {
      background-color: transparent !important;
    }
    border-bottom: none !important;
    img {
      width: 33px;
      height: 33px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }
    &:after {
      background-color: none !important;
    }
  }
}

a.logged-user {
  span {
    font-size: 12px;
    font-weight: 600;
    margin-left: 3px;
    text-transform: none;
  }
}

li.logout {
  border-top: 1px solid #e6e6e6;
}

.presupuesto-mbl {
  background-color: rgba(16, 16, 16, 0.28);
  padding-bottom: 5px;
  position: absolute;
  top: -300px;
  opacity: 0;
  z-index: 99;
  -webkit-transition: 0.9s;
  transition: 0.9s;
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
  label {
    color: #ffffff;
  }
}

.presupuesto-desk {
   opacity: 0;
   position: relative;
   left: -200px;
}

.search-mbl-fx {
  top: -220px;
  opacity: 1;
}

.search-desk-fx {
  opacity: 1;
  left: 0px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-transition-delay: 0.7s;
  transition-delay: 0.7s;
}